<% include header.ejs %>

<h2>
    <div class = "container">
        <div class = "jumbotron">
            <form Method = "POST" action = "/auth/login">
                <div class="form-group">
                    <label for = "loginUserName">UserName</label>
                    <input type = "text" class="form-control" name = "logUserName" placeholder = "Enter Unsername">
                </div>
                <div class = "form-group">
                    <label for = "loginPassword">Password</label>
                    <input type = "password" class="form-control" name = "logPassword" placeholder="Enter Password">
                </div>
                <button type="submit" class = "btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</h2>

<% include footer.ejs %>