<% include header.ejs %>

<h2>
    <div class = "container">
        <div class = "jumbotron">
            This is <%=title%> page
            <div id="jqy">Click Me!</div>
        </div>
    </div>
</h2>

<% include footer.ejs %>