<% include header.ejs %>

<h2>
    <div class = "container">
        <div class = "jumbotron">
            This is Database page, used to write posts
        </div>
    </div>
</h2>

<% include footer.ejs %>