<% include header.ejs %>

<div class = "container" style = "text-align:center">
    <h2>
        <%= message%>
        <br>
        <%= error.status%>
        <br>
    </h2>
    <h3>
        <%= error.stack%>
    </h3>
</div>

<% include footer.ejs %>