<% include header.ejs %>
	<h2>	
		<div class = "container">
			<div class = "jumbotron">
				Email: wenfeng99099@gmail.com
				<br>
				Phone: 416-998-1588
				<br>
				Education: University of Toronto Computer Science Specialist
				<br>
			</div>
		</div>
	</h2>
<% include footer.ejs %>
