<% include header.ejs %>
	<h3 >
		<div class = "container" style="text-align: center;">
			<div class = "jumbotron">
				Email: wenfeng99099@gmail.com
				<br>
				<br>
				Phone: 416-998-1588
				<br>
				<br>
				Education: University of Toronto Computer Science Specialist
				<br>
			</div>

		</div>
	</h3>
<% include footer.ejs %>
